<div class="row">
  <div class="col-md-12">
    <h3>Pending Tasks</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        Chuck Mobley needs to score 'Angular JS Fundamentals' <a href="#" class="pull-right">Poke <i class="fa fa-hand-o-right"></i> </a>
      </li>
      <li class="list-group-item">
        <i class="fa fa-exclamation-triangle"></i> You need to score 'Angular JS Fundamentals' <a href="#" class="pull-right">Score <i class="fa fa-arrow-circle-right"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Activity</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        Abraham viewed welcome
        <span class="text-muted pull-right">15 minutes ago</span>
      </li>
      <li class="list-group-item">
        Jeremy Gaerke added exercise: 'Spring MVC'
        <span class="text-muted pull-right">yesterday</span>
      </li>
    </ul>
  </div>
</div>