<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h3 style="margin-top: 0"><a href="candidate/1/summary">Abraham Lincoln</a></h3>
          </div>
          <div class="col-md-8">
            <ul class="list-inline pull-right">
              <li>
                <a tooltip="open tasks"><i class="fa fa-tasks"></i></a>
              </li>
              <li>
                <a tooltip="interviewers"><i class="fa fa-users"></i></a>
              </li>
              <li>
                <a tooltip="candidate summary"><i class="fa fa-info-circle"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                   style="width: 70%;">
                70%
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <span class="label label-warning">Pending</span>
          </div>
          <div class="col-md-4">
            <a ng-href="candidate/1/challenge/1">Spring MVC</a>
          </div>
          <div class="col-md-3">
            <p>Exercise</p>
          </div>
          <div class="col-md-3">
            <ul class="list-inline pull-right">
              <li><a href="#"><i class="fa fa-folder"></i></a></li>
              <li><a href="#"><i class="fa fa-remove"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <span class="label label-danger">Failed</span>
          </div>
          <div class="col-md-4">
            <a ng-href="candidate/1/challenge/1">Angular JS Deep Dive</a>
          </div>
          <div class="col-md-3">
            <p>Exercise</p>
          </div>
          <div class="col-md-3">
            <ul class="list-inline pull-right">
              <li><a href="#"><i class="fa fa-folder"></i></a></li>
              <li><a href="#"><i class="fa fa-remove"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <span class="label label-success">Passed</span>
          </div>
          <div class="col-md-4">
            <a ng-href="candidate/1/questionnaire/1">Java Fundamentals</a>
          </div>
          <div class="col-md-3">
          <p>Questionaire</p>
          </div>
          <div class="col-md-3">
            <ul class="list-inline pull-right">
              <li><a href="#"><i class="fa fa-folder"></i></a></li>
              <li><a href="#"><i class="fa fa-remove"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Software Developer</li>
              <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Platform Team</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x text-success"></i>
                      <i class="fa fa-thumbs-up fa-stack-1x text-success"></i>
                    </span>
                    <span><strong>Lou Myers</strong> - thought he was strong</span>
                  </li>
                  <li class="list-group-item list-group-item-danger">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x text-danger"></i>
                      <i class="fa fa-thumbs-down fa-stack-1x text-danger"></i>
                    </span>
                    <span><strong>Chuck Mobley</strong></span>
                    <ul class="list-inline pull-right">
                      <li><a href="#"><i class="fa fa-edit text-danger"></i></a></li>
                      <li><a href="#"><i class="fa fa-remove text-danger"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <form novalidate="novalidate" role="form">
                  <div class="form-group">
                    <textarea class="form-control" rows="3" id="comment" name="comment">Leave optional comment</textarea>
                  </div>
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> Accept
                  </button>
                  <button type="submit" class="btn btn-danger">
                    <i class="fa fa-remove"></i> Reject
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
